runpod>=1.11.0,<2

diffusers==0.38.0
transformers==4.57.6
accelerate==1.13.0
safetensors
sentencepiece
peft==0.19.1
ftfy

imageio
imageio-ffmpeg
opencv-python-headless

torchao==0.17.0
numpy>=1.16,<=1.23.5

Pillow>=11.3.0
protobuf>=5.29.0
